<?xml version="1.0"?>

<launch>
  <arg name="id" default="0"/>
  <arg name="base_name" default="iRobot_"/>
  <arg name="port" default="/dev/ttyUSB0"/>
  <arg name="publish_name" default="true"/>

  <node ns="$(arg base_name)$(arg id)" name="irobotdriver" pkg="irobotcreate2" type="irobotcreate2" respawn="false" output="screen">
    <param name="id_" value="$(arg id)"/>
    <param name="base_name_" value="$(arg base_name)"/>
    <rosparam param="poseCovariance">[1e-2, 0,    0,    0,    0,    0,   
                                      0,    1e-2, 0,    0,    0,    0, 
                                      0,    0,    1, 0,    0,    0,  
                                      0,    0,    0,    1, 0,    0, 
                                      0,    0,    0,    0,    1, 0,   
                                      0,    0,    0,    0,    0,    1e-1]</rosparam>
    <rosparam param="twistCovariance">[1e-2, 0,    0,    0,    0,    0,   
                                      0,    1, 0,    0,    0,    0, 
                                      0,    0,    1, 0,    0,    0,  
                                      0,    0,    0,    1, 0,    0, 
                                      0,    0,    0,    0,    1, 0,   
                                      0,    0,    0,    0,    0,    1e-2]</rosparam>

    <param name="port_" value="$(arg port)"/>
    <param name="publish_name_" value="$(arg publish_name)"/>
    <param name="publishTf" value="true"/>
  </node>
</launch>
