<?xml version="1.0"?>

<launch>
    <arg name="robot_id" default="iRobot_0"/>
    <arg name="port" default="/dev/ttyUSB0"/>

    <node ns="$(arg robot_id)" name="irobotdriver" pkg="irobotcreate2" type="irobotcreate2_lightweight" respawn="false" output="screen">
        <rosparam param="poseCovariance">[0.0001, 0,    0,    0,    0,    0,   
                                            0,    0.0001, 0,    0,    0,    0, 
                                            0,    0,    1000000000000.0, 0,    0,    0,  
                                            0,    0,    0,    1000000000000.0, 0,    0, 
                                            0,    0,    0,    0,    1000000000000.0, 0,   
                                            0,    0,    0,    0,    0,    0.01]</rosparam>
        <rosparam param="twistCovariance">[0.00001, 0,    0,    0,    0,    0,   
                                            0,    1000000000000.0, 0,    0,    0,    0, 
                                            0,    0,    1000000000000.0, 0,    0,    0,  
                                            0,    0,    0,    1000000000000.0, 0,    0, 
                                            0,    0,    0,    0,    1000000000000.0, 0,   
                                            0,    0,    0,    0,    0,    0.0001]</rosparam>
        <param name="robot_id" value="$(arg robot_id)"/>
        <param name="port_" value="$(arg port)"/>
        <param name="publishTf" value="false"/>
    </node>
</launch>