<launch>
    <include file="$(find irobotcreate2)/launch/empty_world.launch">
        <arg name="paused" default="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="gui" default="true"/>
        <arg name="headless" default="false"/>
        <arg name="debug" default="false"/>
        <arg name="verbose" default="false"/>
        <arg name="world_name" default="iRobot_worlds/lab.world"/>
    </include>
</launch>

