<?xml version="1.0"?>

<launch>
    <include file="$(find irobotcreate2)/launch/empty_world.launch">
        <arg name="paused" default="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="gui" default="true"/>
        <arg name="headless" default="false"/>
        <arg name="debug" default="false"/>
        <arg name="verbose" default="false"/>
        <arg name="world_name" default="iRobot_worlds/one_iRobot_at_CPwf.world"/>
    </include>
        
    <node name="laser_static_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.12 0 0 0 /iRobot/base_link /iRobot/laser_link 1000" />
</launch>